<div class="show-container">
    <ul class="menu">
        <li>
            <a href="#" data-id="like" class="active menu_item index1">お気に入り</a>
        </li>
        <li>
            <a href="#" data-id="post" class="menu_item index2">投稿</a>
        </li>
        <li>
            <a href="#" data-id="comment" class="menu_item index3">コメント</a>
        </li>
    </ul>
    <!--<%= image_tag 'show-line.png', class: 'line-img' %>-->
    <div class="content active" id="like">
        <% @likes.each do |like| %>
        <div class="show-main">
            <% post = Post.find_by(id: like.post_id) %>
            <% detail = PostDetail.find_by(post_id: post.id) %>
            <% if detail.present? %>
                <% if detail.image? %>
                    <%= image_tag detail.image_url(:thumb)  %>
                <% else %>
                    <img src="<%= "/post_images/kids.jpg" %>">
                <% end %>
            <% end %>
            <div class="show-like">
                <%= link_to("/posts/#{post.id}") do %>
                    <p class="show-title"><%= post.title %></p>
                    <%= post.main_content %>
                <% end %>
            </div>
            <% user = User.find_by(id: post.user_id) %>
              <div class="show-user">
                <img src="<%= "/user_images/#{user.image}" %>">
                <span><%= user.user_name %>さん</span>
              </div>
              
            <div class="clear"></div>
            </div>
        <% end %>
    </div>
    <div class="content" id="post">
       <% @posts.each do |post| %>
       <div class="show-main">
            <% detail = PostDetail.find_by(post_id: post.id) %>
            <% if detail.present? %>
                <% if detail.image? %>
                    <%= image_tag detail.image_url(:thumb)  %>
                <% else %>
                    <img src="<%= "/post_images/kids.jpg" %>">
                <% end %>
            <% end %>
            <div class="show-post">
                <%= link_to("/posts/#{post.id}") do %>
                    <p class="show-title"><%= post.title %></p>
                    <%= post.main_content %>
                <% end %>
            </div>
            <div class="clear"></div>
            </div>
        <% end %>
    </div>
    <div class="content" id="comment">
        <% @comments.each do |comment| %>
        <div class="show-main">
        <% post = Post.find_by(id: comment.post_id) %>
        <% detail = PostDetail.find_by(post_id: post.id) %>
            <% if detail.present? %>
                <% if detail.image? %>
                    <%= image_tag detail.image_url(:thumb)  %>
                <% else %>
                    <img src="<%= "/post_images/kids.jpg" %>">
                <% end %>
            <% end %>
            <div class="content-comment">
                <%= link_to("/posts/#{post.id}") do %>
                    <p><%= comment.content %></p>
                <% end %>
            </div>
            <% user = User.find_by(id: post.user_id) %>
              <div class="show-user">
                <img src="<%= "/user_images/#{user.image}" %>">
                <span><%= user.user_name %>さん</span>
              </div>
            <div class="clear"></div>
            </div>
        <% end %>
    </div>
</div>