 <p>アカウント編集</p>
 
 <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
    <p>ニックネーム</p>
        <input name="name" value="<%= @user.user_name %>">
    <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">
    <p>パスワード</p>
        <input type="password" name="password" value="<%= @user.password %>">
    <p>画像</p>
        <input type="file" name="image">
    <p>コメント</p>
        <textarea name="comment"><%= @user.comment %></textarea>
    <input type="submit" value="保存">
<% end %>