<%= debug(params) if Rails.env.development? %>
<%= image_tag 'user-line.png', class: 'user-line-img' %>
<div class="user-wrapper">
    <div class="contain">
        <p class="title">友達リクエスト</p>
        <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |message| %>
            <%= message %>
            <% end %>
        <% end %> 
        <div class="user-edit">
            <%= form_for @user, url: users_create_friend_path, html: {method: 'POST'} do |f| %>
                <span>○メッセージ :</span>
                <%= f.text_field :comment %>
                
                <div class="submit">
                        <%= f.submit 'リクエストを送る' %>
                </div>
            <% end %>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer' %>