<%= image_tag 'user-line.png', class: 'user-line-img' %>
<div class="user-wrapper">
    <div class="contain">
        <p class="title">Member List</p>
          
          <div class="surch">
              <%= form_tag(users_index_path, method: "get") do %>
              <input type="text" name="name">
              <input type="submit" value="search">
              <% end %>
          </div>
          <%= will_paginate %>
          <%= image_tag 'user-index_line.png', class: 'line-img' %>
          <ul class="index-user">
              <% @users.each do |user| %>
              <li class="each-user">
                  <% if @current_user.admin? && !(@current_user == user) %>
                  |<%= link_to("deleate", "/users/#{user.id}/destroy", {method: "post"}) %>
                  <% end %>
                  <%= link_to("/users/#{user.id}") do %>
                  <div class="index-user-image"><img src="<%= "/user_images/#{user.image}" %>"></div>
                  <div class="index-user-name"><%= user.user_name %></div>
                  
                  <div class="index-user-comment"><%= user.comment %></div>
                  <% end %>
                  <div class="clear"></div>
              </li>
              <% end %>
          </ul>
          <%= will_paginate %>
          <div class="member-list"><%= link_to("Member Listã¸", "/users/index") %></div>
    </div>
</div>
            
<%= render 'shared/footer' %>