<%= image_tag 'user-line.png', class: 'user-line-img' %>
<div class="user-wrapper">
    <div class="contain">
        <p class="title">Member List</p>
          
          <div class="surch">
              <%= form_tag(users_index_path, method: "get") do %>
              <input type="text" name="name">
              <input type="submit" value="search">
              <% end %>
          </div>
          <%= image_tag 'user-index_line.png', class: 'line-img' %>
          <div class="index-user">
              <% @users.each do |user| %>
              <div class="each-user">
                  <div class="index-user-image"><img src="<%= "/user_images/#{user.image}" %>"></div>
                  <div class="index-user-name"><%= link_to(user.user_name, "/users/#{user.id}") %></div>
                  <div class="index-user-comment"><%= user.comment %></div>
                  <div class="clear"></div>
                  </div>
              <% end %>
          </div>
          <div class="member-list"><%= link_to("Member Listã¸", "/users/index") %></div>
    </div>
</div>
            
<%= render 'shared/footer' %>