<%= debug(params) if Rails.env.development? %>
<%= image_tag 'user-line.png', class: 'user-line-img' %>
<div class="user-wrapper">
    <div class="contain">
        <div class="show-user-comment">
                <p><%= @user.comment %></p>
        </div>
        <div class="show-user-left">
            <img src="<%= "/user_images/#{@user.image}" %>">
            <p><%= @user.user_name %>さん</p>
            <% if @current_user.id == @user.id %>
                <%= link_to("/users/#{@user.id}/edit") do %>
                    <span class="fas fa-pen-square edit-hover">編集</span>
                <% end %>
            <% else %>
                <%= link_to("/users/#{@user.id}/friend")  do %>
                    <p>友達リクエストする！<div class="friend-request"></div></p>
                    
                <% end %>
            <% end %>
        </div>
            
        <div class="show-user-right">
         <%= render 'shared/stats' %>   
            <% @user ||= @current_user %>
                <% if @current_user.id == @user.id %>
                    <%= link_to("member list", "/users/index") %>
                    <%= link_to("友達を招待する", "/users/#{@user.id}/invite") %>
                    <%= link_to("友達ページへ","/users/#{@user.id}/relationship") %>
                <% end %>
            
        </div>
        <div class="clear"></div>
        <%= render 'user-table' %>
    </div>
</div>

<%= render 'shared/footer' %>

<script>
    (function() {
        'use strict';
        
        var menuItems = document.getElementsByClassName('menu_item');
        var contents = document.getElementsByClassName('content');
        
        var i;
        
        for (i = 0; i < menuItems.length; i++) {
            menuItems[i].addEventListener('click', function(e) {
            e.preventDefault();    
        
        for (i = 0; i < menuItems.length; i++) {
            menuItems[i].className = 'menu_item';
        }
        
        this.className = 'menu_item active';
        
        for (i = 0; i < contents.length; i++) {
            contents[i].className = 'content';
        }
        
        document.getElementById(this.dataset.id).className = 'content active';
    });
    }
    })();
</script>