<div class="footer-list">
    <div class="list">
        <%= image_tag 'footer-logo.png', class: 'f-logo-img' %>
        <p class="list-p">こそだて<span>ひろば</span></p>
        <p>menu</p>
            <ul>
                <li>
                    <%= link_to("★投稿一覧", posts_path ) %>
                </li>
                <li>
                    <%= link_to("● がくしゅう", "/learning") %>
                </li>
                <li>
                    <%= link_to("● けんこう", "/health") %>
                </li>
                <li>
                    <%= link_to("● りょうり", "/cooking") %>
                </li>
                <li>
                    <%= link_to("● おでかけ", "/out") %>
                </li>
                <li>
                    <%= link_to("● くらし", "/life") %>
                </li>
                <li>
                    <%= link_to("● りょこう", "/trip") %>
                </li>
                <li>
                    <%= link_to("● etc.", "/mom") %>
                </li>
            </ul>
        <%= image_tag 'footer-logo2.png', class: 'f-logo2-img' %>
        <div class="clear"></div>  
    </div>
</div>

