<div class="show-friend">
    <p>友達一覧<span><%= @accept.count %></span></p>
    <% if @accept.any? %>
        <% @accept.first(5).each do |accept| %>
            <div class="relationship-user">
                <% user = User.where('id = ? or id = ?', accept.follower_id, accept.followed_id) %>
                
            </div>
        <% end %>
    <% end %>
    <p>リクエスト承認待ち<span><%= @request.count %></span></p>
    <% if @request.any? %>
        <% @request.first(5).each do |waite| %>
            <% user = User.find_by(id: waite.followed_id) %>
            <img src="<%= "/user_images/#{user.image}" %>">
        <% end %>
    <% end %>
    <p><%= @user.user_name %>さんへの友達リクエスト<span><%= @waite.count %></span></p>
    <% if @waite.any? %>
        <% @waite.first(5).each do |waite| %>
            <% user = User.find_by(id: waite.follower_id) %>
            <img src="<%= "/user_images/#{user.image}" %>">
        <% end %>
    <% end %>
    
</div>