<%= image_tag 'cooking-line.png', class: 'cooking-line-img' %>
<div class="wrapper">
    
<div class="main-ingredient">
     <h3 class="ingredient-p">○すべての材料と下準備</h3>
     <p>● <span class="ingredient-left">材料名</span>　　分量　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>下準備内容</span><span class="ingredient-center">(分量の内訳)</span></p>
    <%= form_for @recipe, url: check_box_create_path do |f| %>
   
     <%= f.submit "☆たりないものリスト☆" %><span>今ある食材をチェックしてボタンをクリックしてね!</span></br>

    ※細切りは薄切りにした食材を3mm〜5mmほどの細さ、千切りは食材を幅1〜2mmに細く切ることです。
    <% @recipes.each do |recipe| %>
        <ul>
            <li>
            <%= f.check_box :checkbox %>
            <span class="ingredient-left"><%= recipe.ingredient %></span>　
            <% if recipe.amount.present? %><%= recipe.amount %><% end %>　
            <% if recipe.prepare.present? %><span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %><%= recipe.prepare %></span><% end %>
            <% if recipe.breakdown.present? %><span class="ingredient-center"><%= recipe.breakdown %></span><% end %>
            </li>
        </ul>
    <% end %>
    <% end %>
    
    

</div>
    <div class="to-recipe">
        <%= link_to("●レシピページへ●", "/cooking_recipe") %>
    </div>
</div>   

<%= render 'shared/footer' %>

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#button1").on("click", function () {-->
<!--            $("#box1 ul").empty();-->
<!--            $(".check:not(:checked)").each(function () {-->
<!--                $(this).parent("label").css({"display": "none"});-->
<!--                $("#box1 ul").append("<li>" + " * "  + $(this).parent("label").text() + "</li>");-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->