<%= image_tag 'cooking-line.png', class: 'cooking-line-img' %>
<div class="wrapper">
<%= image_tag 'cooking/tool_5.png', class: 'tool5-img' %>
<%= link_to("すべての材料と下準備", "/cooking_ingredient") %>
    <div class="main-recipes">
        <p>Main dish</p>
        <div class="recipe">
             <p><%= image_tag 'cooking/no_1.png', class: 'number-img' %>我が家のみんなが大好き！ドライカレー</p>
             <span>調理間:30分</span>
             <span>冷蔵保存:5日</span>
             <span>容量:保存容器大1個分</span>
             <div class="recipe-more">
                  <p class="recipe-click">+ recipe & ingredient +</p>
                       <div class="recipe-contain">
                       <p><%= image_tag 'cooking/face.png', class: 'face-img' %>ズッキーニが苦手な我が家は、その分玉ねぎを１個分に増やしました。パパも子供達も大好きです！</p>
                       <%= image_tag 'cooking/recipe1_1.jpg', class: 'recipe-img' %>
                       <div class="ingredient">
                          <p>● 材料 ●</p>
                          <ul>
                             <li>豚ひき肉　　約３００ｇ</li>
                             <li>◯にんじん　　１本</li>
                             <li>◯たまねぎ　　１／２個</li>
                             <li>◯ピーマン　　３個</li>
                             <li>◯ズッキーニ　　１本</li>
                             <li>◯にんにく　　１かけ</li>
                             <li>◯しょうが　　１かけ</li>
                             <li>トマト大　　１個</li>
                             <li>◎ケチャップ　　大３</li>
                             <li>◎カレー粉　　大１．５</li>
                             <li>◎顆粒コンソメ　　小１</li>
                             <li>◎オイスターソース　　小１</li>
                             <li>塩　　少々</li>
                          </ul>
                       </div>
                       <div class="clear"></div>
                       <div class="recipe-how-to-make">
                          <p>● 作り方 ●</p>
                          <p><span>1. </span>◯の野菜はすべてみじん切りにします。トマトは角切りにします。</p>
                          <p><span>2. </span>フライパンに油を熱し、弱めの中火でにんにく、しょうがを香りが立つまで炒めます。</p>
                          <p><span>3. </span>２に豚ひき肉を入れ、中火でそぼろ状になるまで炒めます。切った野菜をすべて入れ、トマトをつぶしながら炒め合わせます。</p>
                          <p><span>4. </span>野菜に火が通ったら◎を入れ、水分が飛ぶまで炒め合わせます。仕上げに塩で味をととのえて、完成。</p>
                          <p><a href="https://cookien.com/recipe/6983/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_1', class: 'cooking-tool-img' %></a></p>
                       </div>
                  </div>
             </div>
        </div>
        <div class="recipe">
               <p><%= image_tag 'cooking/no_2.png', class: 'number-img' %>いくらでも食べられちゃう！梅じそチーズ棒つくね</p>
               <span>調理時:30分</span>
               <span>冷蔵保存:5日</span>
               <span>容量:保存容器大1個分</span>
               <div class="recipe-more">
               <p class="recipe-click">+ recipe & ingredient +</p>
               <div class="recipe-contain">
                <p><%= image_tag 'cooking/face.png', class: 'face-img' %>美味しい！子供より大人が好む味ですが、うちの子供達はパクパク食べてましたー</p>
                <%= image_tag 'cooking/recipe1_2.jpg', class: 'recipe-img' %>
                <div class="ingredient">
                  <p>● 材料 ●</p>
                  <ul>
                     <li>鶏むねひき肉　　約３００ｇ</li>
                     <li>はんぺん　　大判１枚（１２０ｇ）</li>
                     <li>大葉　　５枚</li>
                     <li>梅干し　　１～２粒</li>
                     <li>◯砂糖　　大１／２</li>
                     <li>◯醤油　　小１</li>
                     <li>◯みりん　　小１</li>
                     <li>◯塩　　少々</li>
                     <li>◎チーズ　　適量</li>
                     <li>コーンスターチ　　適量</li>
                  </ul>
               </div>
               <div class="clear"></div>
               <div class="recipe-how-to-make">
                  <p>● 作り方 ●</p>
                  <p><span>1. </span>はんぺんは袋のうえから手でもんでつぶします。大葉はみじん切りにします。梅干しは種を取り、包丁やスプーンでたたいてペースト状にします。</p>
                  <p><span>2. </span>ボウルに鶏ひき肉を入れ、粘りが出るまでこねます。はんぺんを入れてさらによくこねたら、大葉、◯を入れ、またよくこねます。時間に余裕があれば、肉だねは冷蔵庫で３０分～１時間ほど寝かせる。</p>
                  <p><span>3. </span>２を約１２等分して、梅ペースト、チーズを包んで棒状に形を整えたら、バットなどに並べておきます。</p>
                  <p><span>4. </span>３にコーンスターチを薄くまんべんなくまぶします。</p>
                  <p><span>5. </span>フライパンに多めの油を熱し、中火で４を揚げ焼きにして、完成。</p>
                  <p><a href="https://cookien.com/recipe/434/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_2', class: 'cooking-tool-img' %></a></p>
               </div>
               </div>
            </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_3.png', class: 'number-img' %>ちょっと一工夫！鮭の焦がし醤油酒蒸し</p>
           <span>調理時間:20分</span>
           <span>冷蔵保存:5日</span>
           <span>容量:保存容器大1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>魚好きの子供達なので骨をとってる私に「あーん、あーん」とせがんでくるほどでした</p>
                 <%= image_tag 'cooking/recipe1_3.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>鮭　　３切</li>
                       <li>◯酒　　大１</li>
                       <li>◯レモン汁　　小１／２</li>
                       <li>◯塩コショウ　　少々</li>
                       <li>小麦粉　　適量</li>
                       <li>◎酒　　大１</li>
                       <li>◎醤油　　大１</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>鮭は骨を抜き、食べやすい大きさに切る。</p>
                    <p><span>2. </span>鮭に◯の調味料で下味をつけます。塩（３つまみ程度）をまんべんなくすり込み、コショウをふり、レモン汁、酒を加えてねかせます。</p>
                    <p><span>3. </span>２の鮭にまんべんなく小麦粉をつけ、フライパンに少し多めの油を熱し、皮目から焼きます。<p>
                    <p><span>4. </span>皮が良い色になったら、裏面も焼きます。</p>
                    <p><span>5. </span>表面が焼けたら、◎の調味料を加え、フタをして蒸し焼きにします。</p>
                    <p><span>6. </span>醤油の良い匂いがしたら火を止めて、完成。お好みで小ねぎを散らします。</p>
                    <p><a href="https://cookien.com/recipe/1530/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_3', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_4.png', class: 'number-img' %>簡単！ぶりの塩麹</p>
           <span>調理時間:10分 ※別途一晩</span>
           <span>冷蔵保存:5日</span>
           <span>容量:保存容器大1個分</span>
           <div class="recipe-more">
           <p class="recipe-click">+ recipe & ingredient +</p>
           <div class="recipe-contain">
              <p><%= image_tag 'cooking/face.png', class: 'face-img' %>普通に焼くよりかはふっくら</p>
              <%= image_tag 'cooking/recipe1_4.jpg', class: 'recipe-img' %>
              <div class="ingredient">
                 <p>● 材料 ●</p>
                 <ul>
                    <li>ブリ　　４切（約３７０ｇ）</li>
                    <li>◎液体塩こうじ　　大４</li>
                    <li>レモン　　お好みで</li>
                 </ul>
              </div>
              <div class="clear"></div>
              <div class="recipe-how-to-make">
                 <p>● 作り方 ●</p>
                 <p><span>1. </span>ブリは大きな骨を取り除き、◎と一緒にポリ袋に入れ、できるだけ空気を抜いて冷蔵庫でひと晩漬けておきます。</p>
                 <p><span>2. </span>１を冷蔵庫から出してなるべく室温に戻したら、キッチンペーパーで水分をふき取ります。</p>
                 <p><span>3. </span>フライパンに少量の油を熱し、中火で２の片面を２～３分ほど焼き色がつくまで焼きます。<p>
                 <p><span>4. </span>３を裏返しにし、ふたをして弱火で２分ほど焼きます。両面に焼き色がついたら、完成。お好みでレモンの輪切りをそえます。</p>
                 <p><a href="https://cookien.com/recipe/10339/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_2', class: 'cooking-tool-img' %></a></p>
              </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_5.png', class: 'number-img' %>定番！和風てりやきバーグ</p>
           <span>調理時間:30分 ※別途30分〜1時間</span>
           <span>冷蔵保存:5日</span>
           <span>容量:保存容器大1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>我が家の子供達はケチャップ派みたいでしたが...大人は美味しいくいただきました</p>
                 <%= image_tag 'cooking/recipe1_5.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>豚ひき肉約　　３００ｇ</li>
                       <li>たまねぎ　　１／２個</li>
                       <li>卵　　１個</li>
                       <li>◯パン粉　　１／３カップ</li>
                       <li>◯ブラックペッパー　　少々</li>
                       <li>◯塩　　少々</li>
                       <li>◯粉山椒 　お好みで</li>
                       <li>◎醤油　　大１</li>
                       <li>◎みりん　　大１</li>
                       <li>◎白だし　　大１／２</li>
                       <li>◎砂糖　　小２</li>
                       <li>◎片栗粉　　小２</li>
                       <li>◎水　　５０ｍＬ</li>
                       <li>小ねぎ　　お好みで</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>たまねぎは皮をむき、みじん切りにします。</p>
                    <p><span>2. </span>ボウルに豚ひき肉を入れ、粘りが出るまでこねます。卵、たまねぎ、◯を入れ、さらによくこねます。</p>
                    <p><span>3. </span>２を冷蔵庫で３０分～１時間ほど寝かせます。<p>
                    <p><span>4. </span>３を６等分して成形し、油をひいたフライパンに並べます。</p>
                    <p><span>5. </span>４を強火で２分ほど焼きます。焼き色がついたら、裏返してふたをし、弱火～中火で７分ほど蒸し焼きにします。◎はボウルで混ぜ合わせます。</p>
                    <p><span>6. </span>ハンバーグを保存容器に移し、続いてたれを作ります。フライパンの余分な油をふき取り、◎、小ねぎを入れ、弱火にかけます（メモ４）。とろみがついたら、ハンバーグにかけて、完成（メモ５）。</p>
                    <p><a href="https://cookien.com/recipe/5112/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_1', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="side-recipes">
        <p>Side dish</p>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_1.png', class: 'number-img' %>もう一品欲しい時に大活躍！にんじんしりしり</p>
           <span>調理時間:10分</span>
           <span>冷蔵保存:4日</span>
           <span>容量:保存容器大1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>メイン料理の横にそっと添えて出してます</p>
                 <%= image_tag 'cooking/recipe2_1.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>にんじん　　１本（約１５０ｇ）</li>
                       <li>卵　　１個</li>
                       <li>ごま油　　大１．５</li>
                       <li>◎白だし　　小２</li>
                       <li>◎醤油　　小１</li>
                       <li>いりごま　　適量</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>にんじんは皮をむき、なるべく細いせん切りにします（メモ１）。卵はボウルで溶きほぐします。</p>
                    <p><span>2. </span>フライパンにごま油を熱し、中火でにんじんをくたっとなるくらいまで炒めます。</p>
                    <p><span>3. </span>２に◎を入れ、全体に味がいきわたるよう炒め合わせます。<p>
                    <p><span>4. </span>３に溶き卵を入れ、手早く炒め合わせます（メモ２）。仕上げにいりごまを入れ、全体をさっと炒めて、完成。</p>
                    <p><a href="https://cookien.com/recipe/1095/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_2', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_2.png', class: 'number-img' %>お酒のつまみに！もやしナムル</p>
           <span>調理時間:5分</span>
           <span>冷蔵保存:3日</span>
           <span>容量:保存容器中1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>我が家の子供達の大好物！</p>
                 <%= image_tag 'cooking/recipe2_2.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>もやし　　１袋（２００ｇ）</li>
                       <li>水　　１Ｌ</li>
                       <li>穀物酢　　大１／２</li>
                       <li>◎醤油　　大１／２</li>
                       <li>◎ごま油　　大１／２</li>
                       <li>◎中華スープの素　　小１／２</li>
                       <li>◎豆板醤　　小１／３</li>
                       <li>◎にんにくチューブ　　２ｃｍ</li>
                       <li>◎いりごま　　大１／２</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>鍋に水と酢を入れ、沸騰させます（メモ２）。もやしは水洗いして水気を切ります。</p>
                    <p><span>2. </span>沸騰したら強めの中火にします。もやしを入れ、少しずらしてふたをし、１分３０秒ゆでます。</p>
                    <p><span>3. </span>ざるにあげてあら熱を取り、キッチンペーパーでおさえて水気をふき取ります</p>
                    <p><span>4. </span>ボウルに◎を入れ、よく混ぜ合わせます。３を入れ、よく和えて、完成。</p>
                    <p><a href="https://cookien.com/recipe/577/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_3', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_3.png', class: 'number-img' %>ピーマンとちくわのキンピラ</p>
           <span>調理時間:10分</span>
           <span>冷蔵保存:5日</span>
           <span>容量:保存容器中1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>息子はピーマンが苦手...器用にピーマンだけ残してました</p>
                 <%= image_tag 'cooking/recipe2_3.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>ピーマン　　４〜５個（</li>
                       <li>ちくわ　　２〜３本</li>
                       <li>ごま油　　炒め用</li>
                       <li>◎酒大さじ　　１．５</li>
                       <li>◎みりん　　大さじ２</li>
                       <li>◎醤油　　小２</li>
                       <li>いりごま　　適量</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>ピーマンは細切りに、ちくわは薄く斜め切りにしておきます。</p>
                    <p><span>2. </span>フライパンにごま油を入れて熱し、１を炒めます。</p>
                    <p><span>3. </span>酒、みりんをフライパンに入れ、炒め合わせます。</p>
                    <p><span>4. </span>３の汁気が飛んだところへ醤油を入れて炒めます。</p>
                    <p><span>5. </span>最後にいりごまを入れて、完成。</p>
                    <p><a href="https://cookien.com/recipe/840/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_2', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
        <p><%= image_tag 'cooking/no_4.png', class: 'number-img' %>健康志向のあなたへ！お豆とひじきの健康サラダ</p>
        <span>調理時間:20分</span>
        <span>冷蔵保存:5日</span>
        <span>容量:保存容器中1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>健康を考えて</p>
                 <%= image_tag 'cooking/recipe2_4.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>乾燥芽ひじき　　１０gくらい</li>
                       <li>ミックスビーンズ　　１袋</li>
                       <li>枝豆　　５さやくらい</li>
                       <li>にんじん　　１／３本</li>
                       <li>◎調味酢　　大１</li>
                       <li>◎マヨネーズ　　大１</li>
                       <li>◎砂糖　　大１／２</li>
                       <li>◎醤油　　小１</li>
                       <li>◎すりごま　　大２</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>ひじきは水に戻してよく水を切っておきます。</p>
                    <p><span>2. </span>枝豆はさやから出し、にんじんは細切りにしておきます。</p>
                    <p><span>3. </span>にんじんを耐熱容器に入れ、レンジで２分。柔らかくなったらあら熱をとっておきます。</p>
                    <p><span>4. </span>ボウルに◎を全部混ぜ合わせ、ひじき、ミックスビーンズ、枝豆、にんじんを混ぜて、完成。マヨネーズの分量はお好みで調整して下さいね。</p>
                    <p><a href="https://cookien.com/recipe/855/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_1', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_5.png', class: 'number-img' %>簡単！美味しい！枝豆塩こんぷ</p>
           <span>調理時間:5分</span>
           <span>冷蔵保存:7日</span>
           <span>容量:保存容器小1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>むき枝豆だとさらに簡単！</p>
                 <%= image_tag 'cooking/recipe2_5.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                        <li>冷凍えだまめ　　３００gくらい</li>
                        <li>◎塩こんぶ　　ひとつかみ</li>
                        <li>◎調味酢　　大１</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>冷凍えだまめは流水で解凍し、むいておきます。</p>
                    <p><span>2. </span>ボウルに◎を入れます。</p>
                    <p><span>3. </span>２に１を入れて混ぜ合わせ、完成。</p>
                    <p><a href="https://cookien.com/recipe/401/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_2', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_6.png', class: 'number-img' %>栄養満点！ほうれん草おかか和え</p>
           <span>調理時間:10分</span>
           <span>冷蔵保存:3日</span>
           <span>容量:保存容器中1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>子供達は残さず食べてくれました</p>
                 <%= image_tag 'cooking/recipe2_6.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>ほうれん草　　１袋</li>
                       <li>塩　　適量</li>
                       <li>◎醤油　　大１／２</li>
                       <li>◎白だし　　小１</li>
                       <li>◎かつお節小分け　　１／２袋</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>ほうれん草は根元をよく洗い、片手鍋にたっぷりめの水と塩を入れ、お湯を沸かしておきます。</p>
                    <p><span>2. </span>沸騰したら、ほうれん草の根元から片手鍋に入れ、数秒先に茹でます。</p>
                    <p><span>3. </span>葉まで入れ込み、ふたをして茹でます。<p>
                    <p><span>4. </span>茹で上がったら、ざるに取り、あら熱を取ります。</p>
                    <p><span>5. </span>根元を切り落とし、４等分に切り、手で軽く握るようにして余分な水分をとります。</p>
                    <p><span>6. </span>◎の調味料と合わせて、完成。</p>
                    <p><a href="https://cookien.com/recipe/1624/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_3', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_7.png', class: 'number-img' %>かぼちゃの煮物</p>
           <span>調理時間:15分</span>
           <span>冷蔵保存:5日</span>
           <span>容量:保存容器大1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>余ると潰してマヨネーズと混ぜたりしてサラダに使ってます</p>
                 <%= image_tag 'cooking/recipe2_7.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>かぼちゃ　　１／４個（約５００ｇ）</li>
                       <li>◎酒　　大１</li>
                       <li>◎みりん　　大１</li>
                       <li>◎醤油　　大１</li>
                       <li>◎砂糖　　大１</li>
                       <li>◎水　　１００ｍＬ</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>かぼちゃはスプーンなどで種を取り除き、皮をところどころそぐようにむいたら、ひとくち大に切ります</p>
                    <p><span>2. </span>鍋にかぼちゃを皮目を下にしてしき詰めます。◎を入れ、ふたをして火にかけます。</p>
                    <p><span>3. </span>煮立ったらふたを取ります。落しぶたをし、弱火でやわらかくなるまで煮て、完成<p>
                    <p><a href="https://cookien.com/recipe/69/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_2', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_8.png', class: 'number-img' %>エノキとチンゲンサイのおひたし</p>
           <span>調理時間:10分</span>
           <span>冷蔵保存:4日</span>
           <span>容量:保存容器大1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>子供達はあまり．．．ですが、私は好きです</p>
                 <%= image_tag 'cooking/recipe2_8.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>えのきは石づきを落とし、３等分に切ります。チンゲン菜は４ｃｍ幅くらいに切ります。</p>
                    <p><span>2. </span>鍋にお湯を沸かし、チンゲン菜を茎の部分から入れて１分ほど茹で、ザルに上げて水気を切っておきます。</p>
                    <p><span>3. </span>再び鍋にお湯を沸かし、えのきを１分ほど茹でて、ザルに上げて水にさらし、水気を切っておきます。<p>
                    <p><span>4. </span>ボウルに◎の調味料を入れて、２と３を和えて、完成。</p>
                    <p><a href="https://cookien.com/recipe/3628/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_1', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_9.png', class: 'number-img' %>万能！つぶつぶマスタードのコールスロー</p>
           <span>調理時間:30分</span>
           <span>冷蔵保存:3日</span>
           <span>容量:保存容器大1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>パパのランチのサインドウィッチにはさんだりー我が家では大活躍！</p>
                 <%= image_tag 'cooking/recipe2_9.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>キャベツ　　１／２玉（約４００ｇ）</li>
                       <li>にんじん　　１／３本（約５０ｇ）</li>
                       <li>コーン　　約５０ｇ</li>
                       <li>塩　　小１</li>
                       <li>◎調味酢　　大２</li>
                       <li>◎マヨネーズ　　大２</li>
                       <li>◎粒マスタード　　大１．５</li>
                       <li>◎ブラックペッパー　　お好みで</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>キャベツは水洗いして水気を切り、せん切りにします。にんじんは皮をむき、長さ４ｃｍのせん切りにします。</p>
                    <p><span>2. </span>ボウルにキャベツ、にんじん、塩を入れ、もみ込みます。ざるにあげて１０～２０分ほど置いておき、手でしぼってしっかりと水気を切ります</p>
                    <p><span>3. </span>ボウルに◎を入れ、よく混ぜ合わせます。２、コーンを入れ、全体に味がいきわたるよう和えて、完成<p>
                    <p><a href="https://cookien.com/recipe/3468/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_2', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="recipe">
           <p><%= image_tag 'cooking/no_10.png', class: 'number-img' %>パパが大好き！春雨サラダ</p>
           <span>調理時間:10分</span>
           <span>冷蔵保存:3日</span>
           <span>容量:保存容器大1個分</span>
           <div class="recipe-more">
              <p class="recipe-click">+ recipe & ingredient +</p>
              <div class="recipe-contain">
                 <p><%= image_tag 'cooking/face.png', class: 'face-img' %>子供達もよく食べるので我が家の常備食です！</p>
                 <%= image_tag 'cooking/recipe2_10.jpg', class: 'recipe-img' %>
                 <div class="ingredient">
                    <p>● 材料 ●</p>
                    <ul>
                       <li>乾燥春雨　　約４０ｇ</li>
                       <li>ハム　　４枚</li>
                       <li>きゅうり　　１本</li>
                       <li>にんじん　　１／２本（約６０ｇ）</li>
                       <li>牛乳　　大１</li>
                       <li>◎調味酢　　大４</li>
                       <li>◎砂糖　　大２</li>
                       <li>◎醤油　　大１．５</li>
                       <li>◎ごま油　　大１．５</li>
                       <li>◎しょうがチューブ　　５ｃｍ</li>
                       <li>◎いりごま　　適量</li>
                    </ul>
                 </div>
                 <div class="clear"></div>
                 <div class="recipe-how-to-make">
                    <p>● 作り方 ●</p>
                    <p><span>1. </span>鍋にたっぷりの水と牛乳を入れて火にかけます。沸騰したら、乾燥春雨を入れてゆでます。ゆでたら、ざるにあげて水気を切ります。</p>
                    <p><span>2. </span>きゅうりは両端を切り落とし、にんじんは皮をむき、それぞれ細切りにします。ハムも細切りにします。</p>
                    <p><span>3. </span>にんじんを耐熱容器に入れます。ふわりとラップをし、５００ｗの電子レンジで１～２分ほど加熱し、水気を切ります。<p>
                    <p><span>4. </span>ボウルに◎を入れて混ぜ合わせたら、すべての食材を入れ、よく和えて、完成（メモ４）。</p>
                    <p><a href="https://cookien.com/recipe/6754/" target="_blank">詳しいレシピはこちら<%= image_tag 'cooking/tool_3', class: 'cooking-tool-img' %></a></p>
                 </div>
              </div>
           </div>
        </div>
        </div>
</div>
</div>
<%= render 'shared/footer' %>     
<script>
    $(function() {
        'use strict';
        
         $('.recipe-more').click(function() {
      var $more = $(this).find('.recipe-contain');
      if($more.hasClass('open')) {
        $more.removeClass('open');
        $more.slideUp();
        $(this).find('.recipe-click').text('+ recipe & ingredient +');
      }else {
        $more.addClass('open');
        $more.slideDown();
        $(this).find('.recipe-click').text('- close');
      }
      });
      
    });
    
</script>