<%= image_tag 'cooking-line.png', class: 'cooking-line-img' %>
<div class="wrapper">
    
    <div class="cooking-top">
        <div class="cooking-left">
            <p>りょうり</p>
            <div class="cooking-top-image1">
                <%= image_tag 'menu-title.png', class: 'menu-title-img' %>
            </div>
            <div class="cooking-top-image2">
                <%= image_tag 'menu/cooking.png', class: 'cooking-menu-img' %>
            </div>
        </div> 
        <div class="cooking-right">
              <%= image_tag 'question_board/clip.png', class: 'clip-img' %>  
            <h5 class="board-title">● みんなの投票掲示板 ●</h5>
            <div class="question-board">
                <h4><%= image_tag 'question_board/question.png', class: 'q-img' %><span>1.</span> 子供と一緒に料理をしますか？</h4>
                <%= form_tag("/cooking_create") do %>
                    <div class="select-answerQ1">
                        <input type="radio" id="usually" name="question_1" value="1">
                        <label for="usually">
                        <div class="answer">
                            <%= image_tag 'question_board/mug_1.png', class: 'mug-img' %>
                            <% surveys = Survey.where(menu:"cooking") %>
                            <% survey = surveys.where(question_1: 1).count %>
                            <p><%= survey %></p>
                        </div>
                        <span>よくします</span>
                        </label>
                        
                        <input type="radio" id="sometimes" name="question_1" value="2">
                        <label for="sometimes">
                            <div class="answer">
                            <%= image_tag 'question_board/mug_1.png', class: 'mug-img' %>
                            <% surveys = Survey.where(menu:"cooking") %>
                            <% survey = surveys.where(question_1: 2).count %>
                            <p><%= survey %></p>
                        </div>
                        <span>たまーに</span>
                        </label>
                        <input type="radio" id="seldom" name="question_1" value="3">
                        <label for="seldom">
                            <div class="answer">
                            <%= image_tag 'question_board/mug_1.png', class: 'mug-img' %>
                            <% surveys = Survey.where(menu:"cooking") %>
                            <% survey = surveys.where(question_1: 3).count %>
                            <p><%= survey %></p>
                        </div>
                        <span>できてないなぁ...</span>
                        </label>
                        <input type="radio" id="another" name="question_1" value="4">
                        <label for="another">
                            <div class="answer">
                                <%= image_tag 'question_board/mug_1.png', class: 'mug-img' %>
                                <% surveys = Survey.where(menu:"cooking") %>
                            <% survey = surveys.where(question_1: 4).count %>
                                <p><%= survey %></p>
                            </div>
                        <span>etc.</span>
                        </label>
                    </div>
                    <h4><%= image_tag 'question_board/question.png', class: 'q-img' %><span>2.</span> 子供の喜ぶメニューは？</h4>
                    <div class="select-answerQ2">
                        <input type="radio" id="humburg" name="question_2" value="1" >
                        <label for="humburg">
                            <div class="answer">
                                <%= image_tag 'question_board/mug_2.png', class: 'mug-img' %>
                                <% surveys = Survey.where(menu:"cooking") %>
                                <% survey = surveys.where(question_2: 1).count %>
                                <p><%= survey %></p>
                            </div>
                        <span>ハンバーグ</span>
                        </label>
                        <input type="radio" id="curry" name="question_2" value="2">
                        <label for="curry">
                            <div class="answer">
                                <%= image_tag 'question_board/mug_2.png', class: 'mug-img' %>
                                <% surveys = Survey.where(menu:"cooking") %>
                                <% survey = surveys.where(question_2: 2).count %>
                                <p><%= survey %></p>
                            </div>
                        <span>カレー</span>
                        </label>
                        <input type="radio" id="omlet" name="question_2" value="3">
                        <label for="omlet">
                            <div class="answer">
                                <%= image_tag 'question_board/mug_2.png', class: 'mug-img' %>
                                <% surveys = Survey.where(menu:"cooking") %>
                                <% survey = surveys.where(question_2: 3).count %>
                                <p><%= survey %></p>
                            </div>
                        <span>オムライス</span>
                        </label>
                        <input type="radio" id="etc" name="question_2" value="4">
                        <label for="etc">
                            <div class="answer">
                                <%= image_tag 'question_board/mug_2.png', class: 'mug-img' %>
                                <% surveys = Survey.where(menu:"cooking") %>
                                <% survey = surveys.where(question_2: 4).count %>
                                <p><%= survey %></p>
                            </div>
                        <span>etc.</span>
                        </label>
                    </div>
                    <div class="menu-submit">
                    <input type="submit" value=" 回答！ " class="square_btn" >
                    </div>
                <% end %>
            </div>
        </div>
        <!--<div class="clear"></div>-->
    </div>

    <div class="cooking-main">
        <!--<%= image_tag 'pot.png', class: 'pot-img' %>-->
        <h3><span>子供との時間をつくろう！</span>忙しいママへの「つくおき」完全版 ーまとめー</h3>
        <div class="clear"></div>
    <%= link_to("/cooking_recipe") do %>
        <div class="cooking-menu">
            <div class="handle"></div>
            <div class="lid">
                <span>今週のmenu</span>
                <div class="lid-sub">
                    <p>調理時間：3−４h</p>
                    <p>食材費：６千円程度 ＊調味料等除く</p>
                </div>
        　  </div>
                        <div class="pot">
                            <div class="cooking-maindish">
                                　<p><%= image_tag 'cooking/kitchenware_a.png', class: 'kitchenware-img' %>Main dish</p>
                                　<ul>
                                　    <li>1. ドライカレー</li>
                                　    <li>2. 梅じそチーズ棒つくね</li>
                                　    <li>3. 鮭の焦がし醤油</li>
                                　    <li>4. ぶりの塩麹</li>
                                　    <li>5. 和風てりやきバーグ</li>
                                　</ul>
                            </div>
                            <div class="cooking-submenu">
                                　<p><%= image_tag 'cooking/kitchenware_b.png', class: 'kitchenware-img' %>Side dish</p>
                                　<ul>
                                　    <li>1. 人参しりしり</li>
                                　    <li>2. もやしナムル</li>
                                　    <li>3. ピーマンとちくわのキンピラ</li>
                                　    <li>4. ひじき</li>
                                　    <li>5. 枝豆塩こんぷ</li>
                                　    <li>6. ほうれん草のおひたし</li>
                                　    <li>7. かぼちゃの煮物</li>
                                　    <li>8. エノキとチンゲンサイのおひたし</li>
                                　    <li>9. つぶつぶマスタードのコールスロー</li>
                                　    <li>10. 春雨サラダ</li>
                                　</ul>
                            </div>
                       <div class="clear"></div>
                        </div>
            <div class="pot-right"></div>
            <div class="pot-left"></div>
        </div>
    <% end %>
    　  
        
    </div>
　<!--<p>Cooking with kids</p>-->
　
    <div class="links">
    <p>Recent Posts</p>
        <div class="link">
            <% @posts.each do |post| %>
                <div class="pick-up">
                    <div class="pick-img">
                    <% detail = PostDetail.find_by(post_id: post.id) %>
                    <% if detail.present? %>
                        <% if detail.image == "kids.jpg" %>
                            <img src="<%= "/post_images/#{detail.image}" %>">
                        <% else %>
                            <img src="<%= "/post_images/#{post.user_id}/#{detail.post_id}/#{detail.image}" %>">
                        <% end %>
                    <% end %>
                    </div>
                <div class="post-title">
                    <%= link_to("/posts/#{post.id}") do %>
                        <span><%=post.title%></span>
                    <% end %>
                </div>
                <div class="post-create">
                    <span><%= post.created_at %></span>
                </div>
                </div>  
            <% end %>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer' %>
　
 