<%= image_tag 'cooking-line.png', class: 'cooking-line-img' %>
<div class="wrapper">
    
<div class="main-ingredient">
     <h3 class="ingredient-p">○すべての材料と下準備</h3>
     <p>● <span class="ingredient-left">材料名</span>　　分量　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>下準備内容</span><span class="ingredient-center">(分量の内訳)</span></p>
    <input type="button" id="button1" value="☆たりないものリスト☆"><span class="ingredient-check">　今ある食材をチェックしてボタンをクリックしてね!</span>
<hr>
<div id="box1">
    <ul>
    </ul>
</div>
      <label><input type="checkbox" class="check"><span class="ingredient-left">豚ひき肉</span>　　約600g　<span class="ingredient-center">(300ｇ+300ｇ)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">鶏むねひき肉</span>　　約300ｇ</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">鮭</span>　　３切　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>︎骨を貫き食べやすい大きさにカット</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ブリ</span>　　４切　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>大きな骨を取り除く</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">はんぺん</span>　　大判1枚　</span><span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>袋の上から手でもんでつぶす</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ハム</span>　　4枚　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>細切り</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ちくわ</span>　　2-3本　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>薄く斜め切り</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">にんじん</span>　　3+2/3本　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>1本-みじん切り, 1+1/3本-千切り<span class="ingredient-center">(1+1/3)</span>, 5/6-細切り<span class="ingredient-center">(1/3+1/2)</span></span></label><br/>
      　　※細切りは薄切りにした食材を3mm〜5mmほどの細さ、千切りは食材を幅1〜2mmに細く切ることです。<br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">たまねぎ</span>　　1個　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>1個-みじん切り<span class="ingredient-center">(1/2+1/2)</span></span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ピーマン</span>　　7-8個　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>3個-みじん切り, 4-5個-細切り</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ズッキーニ</span>　　1本　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>みじん切り</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">きゅうり</span>　　細切り　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>１本</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">キャベツ</span>　　1/2玉　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>千切り</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">コーン</span>　　約50ｇ</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">トマト大</span>　　1個　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>角切り</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">かぼちゃ</span>　　1/4個(約500ｇ)　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>皮をところどころそぐようにむき、一口大にカット</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">小ねぎ</span>　　お好みで</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ほうれん草</span>　　1袋</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">チンゲン菜</span>　　2株</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">もやし</span>　　1袋(200ｇ)</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">枝豆</span>　　約310g　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>さやから出す</span><span class="ingredient-center">(5さや+300g)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ミックスビーンズ</span>　　１袋</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">えのき</span>　　1パック　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>三等分にカット</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">大葉</span>　　5枚　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>みじん切り</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">梅干し</span>　　1-2粒　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>種を取りペースト状にする</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">乾燥春雨</span>　　約40ｇ</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">乾燥芽ひじき</span>　　約10g　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>水に戻して水を切る</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">かつお節小分け</span>　　1/2袋</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">チーズ</span>　　適量</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">卵</span>　　2個　<span class="ingredient-center">(1個+1個)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">牛乳</span>　　大1</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">にんにく</span>　　1かけ　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>みじん切り</span><</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">にんにくチューブ</span>　　２ｃｍ</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">しょうが</span>　　1かけ　<span class="ingredient-right"><%= image_tag 'cooking/star.png', class: 'star-img' %>みじん切り</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">しょうがチューブ</span>　　５ｃｍ</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">マヨネーズ</span>　　大4　<span class="ingredient-center">(大1+大1+大2)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ケチャップ</span>　　大3</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">オイスターソース</span>　　小1</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">粒マスタード</span>　　大1.5</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">カレー粉</span>　　大1.5</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">顆粒コンソメ</span>　　小1</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">中華スープの素</span>　　小1/2</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">豆板醤</span>　　小1/3</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">レモン汁</span>　　小1/2</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">塩こんぶ</span>　　ひとつかみ</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">砂糖</span>　　小2+大3.5　<span class="ingredient-center">(小2+大0.5+大0.5+大0.5+大2)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">塩</span>　　適量　<span class="ingredient-center">(少々+少々+少々+少々+適量+小1)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">醤油</span>　　小5+大7　<span class="ingredient-center">(小1+小1+小1+小2+大0.5+大1+大1+大1+大1+大1+大1.5)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">酒</span>　　大4.5　<span class="ingredient-center">(大1+大1+大1+大1.5)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">みりん</span>　　小1+大4　<span class="ingredient-center">(小1+大1+大1+大2)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">穀物酢</span>　　大0.5</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">調味酢</span>　　大7　<span class="ingredient-center">(大1+大2+大4)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">白だし</span>　　小3+大2　<span class="ingredient-center">(小1+小2+大0.5+大1.5)</span></label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">液体塩こうじ</span>　　大4</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">コショウ</span>　　少々</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ブラックペッパー</span>　　少々</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">粉山椒</span> 　お好みで</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">いりごま</span>　　適量　<span class="ingredient-center">(適量+適量+適量+大1/2)</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">すりごま</span>　　大2</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">ごま油</span>　　大3.5　<span class="ingredient-center">(大0.5+大1.5+大1.5)</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">コーンスターチ</span>　　適量</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">小麦粉</span>　　適量</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">パン粉</span>　　1/3カップ</label><br/>
      <label><input type="checkbox" class="check"><span class="ingredient-left">片栗粉</span>　　小2</label><br/>
     </ul>
    </div>
    <div class="to-recipe">
        <%= link_to("●レシピページへ", "/cooking_recipe") %>
    </div>
</div>   

<%= render 'shared/footer' %>

<script>
    $(document).ready(function () {
        $("#button1").on("click", function () {
            $("#box1 ul").empty();
            $(".check:not(:checked)").each(function () {
                $(this).parent("label").css({"display": "none"});
                $("#box1 ul").append("<li>" + " * "  + $(this).parent("label").text() + "</li>");
            });
        });
    });
</script>