<!--アクセス時にモーダルで表示-->
<%= render 'home/top-modal' %> 
<!--新規登録・ログインモーダル-->
<%= render 'home/modal' %> 

<div class="wrapper">
 
    <div id="top-img">
        <!--<img src="/public/top/top-img-1.jpg" %>-->
        <%= image_tag 'top/top-img-1.jpg', class: 'top-img' %>
    </div>
    <div class="navi">
        <h4>[今日のこそだて格言]</h4>
        <p class="sentence"><%= @sentence[0] %></p>
        <%= image_tag 'navi.png', class: 'navi-img' %>
    </div>
    <div class="menu">
    <p>MENU</p>
    <span>こそだて情報を7つのカテゴリーにわけて紹介しています！投稿やコメント、友達リクエスト...などなど色々な方法で情報交換もできるよ！<br/>
    どんな内容かは「くまさん」に聞いてみてね☆</span>
     <ul class="menu-container">
            <li>
              <div class="menu-hover">
                <div class="text-contents">
                  <%= image_tag 'cooking/face.png', class: 'face-img' %>がくしゅう</br>
                      子供のために習い事はさせたほうがいいかな？英語の勉強は始めてる？
                      テレビやママ友からたくさんの情報が入りどうしてあげるんのが一番自分の子にとっていいか迷いますよね。
                      定番の習い事から番外編の習い事まで...「まなぶ」「たいけんする」についてまとめた情報がたくさん！
                </div>
                <div class="menu-detail">
                    <div class="menu-icon">
                      <%= image_tag 'menu/learning.png', class: 'menu-img' %>
                    </div>
                    <p>がくしゅう</p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-hover">
                <div class="text-contents">
                  <%= image_tag 'cooking/face.png', class: 'face-img' %>けんこう</br>
                      子供の病気やケガにはいつもハラハラ...心配はつきません
                      乳幼児になりやすい病気などなどについてまとめた情報がたくさん！
                </div>
                <div class="menu-detail">
                  <div class="menu-icon">
                        <%= image_tag 'menu/health.png', class: 'menu-img' %>
                    </div>
                    <p>けんこう</p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-hover">
                <div class="text-contents">
                  <%= image_tag 'cooking/face.png', class: 'face-img' %>おでかけ</br>
                      休日は家族みんなで過ごせていますか？
                      オススメのテーマパークから公園など、子供と一緒に楽しめるところをまとめた情報がたくさん！
                </div>
                <div class="menu-detail">
                  <div class="menu-icon">
                        <%= image_tag 'menu/out.png', class: 'menu-img' %>
                  </div>
                  <p>おでかけ</p>
                </div>
              </div>
            </li>
             <li>
              <div class="menu-hover">
                <div class="text-contents">
                  <%= image_tag 'cooking/face.png', class: 'face-img' %>りょうり</br>
                      毎日、家族のために料理を作るのにどれくらいの時間をさいていますか？
                      とくにお仕事をしていたら、平日はほとんど子供と向き合える時間がないですよね...
                      そんなママやパパに週末の作り置きで少しでも自由な時間を作ってもらえるお手伝いができるかも
                      ５日分のレシピを１つのページでみれて、すべての材料がまとめてあるから分かりやすい！
                      しかも、チェック機能付きだから買い物リストも作れちゃいます！
                      レシピごとにページを移動したり、材料を調べる手間もはぶけちゃう
                      子供と一緒に楽しめるレシピも公開中！
                </div>
                <div class="menu-detail">
                  <div class="menu-icon">
                      <%= image_tag 'menu/cooking.png', class: 'menu-img' %>
                  </div>
                   <p>りょうり</p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-hover">
                <div class="text-contents">
                  <%= image_tag 'cooking/face.png', class: 'face-img' %>くらし</br>
                      子供が生まれてからたくさん必要なものありますよねー
                      どれを買うかで迷った時、これって必要？などなど
                      たくさんある商品の中で少しでもその子に合うものを...と思ってまとめた情報がたくさん！
                </div>
                <div class="menu-detail">
                  <div class="menu-icon">
                        <%= image_tag 'menu/life.png', class: 'menu-img' %>
                  </div>
                  <p>くらし</p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-hover">
                <div class="text-contents">
                  <%= image_tag 'cooking/face.png', class: 'face-img' %>りょこう</br>
                      子供が生まれてから初めての旅行はいつ頃でしたか？
                      これからデビューしようとしてるご家族も色々ために情報がたくさん！
                </div>
                <div class="menu-detail">
                  <div class="menu-icon">
                        <%= image_tag 'menu/trip.png', class: 'menu-img' %>
                  </div>
                  <p>りょこう</p>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-hover">
                <div class="text-contents">
                  <%= image_tag 'cooking/face.png', class: 'face-img' %>etc.</br>
                       初めてのこそだては色々大変...
                       子供は思い通りにいかないものが当たり前ー
                       イライラしやすいですよね
                       少しでもそんなイライラを解消できればということでまとめた情報をのせてます！
                       お役に立てればー
                </div>
                <div class="menu-detail">
                  <div class="menu-icon">
                        <%= image_tag 'menu/dad.png', class: 'menu-img' %>
                  </div>
                  <p>etc.</p>
              </div>
              </div>
            </li>
          </ul>
    </div>
    <div class="clear"></div>

   <div class="links">
      <p>Pick Up</p>
      <div class="link">
          <% @posts.each do |post| %>
            <div class="pick-up">
                <div class="pick-img">
                    <% detail = PostDetail.find_by(post_id: post.id) %>
                    <% if detail.present? %>
                        <% if detail.image? %>
                            <%= image_tag detail.image_url(:thumb)  %>
                        <% else %>
                            <img src="<%= "/post_images/kids.jpg" %>">
                        <% end %>
                    <% end %>
                </div>
                <div class="post-title">
                  <%= link_to("/posts/#{post.id}") do %>
                    <span><%=post.title%></span>
                  <% end %>
                </div>
                <div class="post-create">
                  <span><%= post.created_at %></span>
                </div>
                <div class="clear"></div>
                <div class="info">
                  <%= image_tag 'info.png', class: 'info-img' %><span>+ more info</span>
                    <div class="more-info">
                      <%= post.main_content %><br/>
                      続きはログインお願いします<br/>
                      <%= link_to("●新規登録●", "/sign_up") %><br/>
                      <%= link_to("●ログイン●", "/login") %>
                    </div>
                </div>
                <!--<div class="clear"></div>-->
            </div>  
          <% end %>
        <div class="clear"></div>
        </div>
    </div>
</div>
<div class="top-footer"></div>
<script>
  $(function() {
     
    $('#open1').click(function() {
        $('#sign-modal').removeClass('hidden');
        $('.mask').removeClass('hidden');
    });
    
    $('#open2').click(function() {
        $('#login-modal').removeClass('hidden');
        $('.mask').removeClass('hidden');
    });
    
    $('.m-close').click(function() {
        $('#sign-modal').addClass('hidden');
        $('#login-modal').addClass('hidden');
        $('.mask').addClass('hidden');
    });
    
    $('.mask').click(function() {
        $('#sign-modal').addClass('hidden');
        $('#login-modal').addClass('hidden');
        $('.mask').addClass('hidden');
    });
    
    $('.open').hover(
        function() {
            $(this).css({'left':'0', 'bottom':'0'});
        },
        function() {
            $(this).css({'left':'-112px', 'bottom':'-100px'});
        }
    );
    
    $('.s-open').hover(
        function() {
            $(this).css({'right':'0', 'top':'0'});
        },
        function() {
            $(this).css({'right':'0', 'top':'-120px'});
        }
    );
    
    $('.menu-hover').hover(
        function() {
            $(this).find('.text-contents').addClass('text-active');
        },
        function() {
            $(this).find('.text-contents').removeClass('text-active');
        }
    );
    
    $('.info').click(function() {
      var $more = $(this).find('.more-info');
      if($more.hasClass('open')) {
        $more.removeClass('open');
        $more.slideUp();
        $(this).find('span').text('+ more info');
      }else {
        $more.addClass('open');
        $more.slideDown();
        $(this).find('span').text('- close');
      }
      });
      
      
      var count = setInterval(changeImg, 2000);//2秒間隔
    i = 1;
    function changeImg(){
        $("#top-img").children("img").attr("src","/top/top-img-" + i + ".jpg");
        if(i <= 3){
            i++;
        }
        else{
            i = 1;
        }
    }
  });
</script>
