
<!--アクセス時にモーダルで表示-->
  <div class="modal">
    <input id="modal-trigger" class="checkbox" type="checkbox" checked="checked">
    <div class="modal-overlay">
      <label for="modal-trigger" class="o-close"></label>
      <div class="modal-wrap a-center">
        <label for="modal-trigger" class="close"><i class="fal fa-window-close" class="close"></i></label>
        <h3>[このWEBサイトについて]</h3>
            <p>こそだてに迷ったとき、困ったとき、感動したとき、などなど<br/>
            いろいろな場面でこのサイトを訪れたとき、癒されたり、共感したり、前向きな気持ちになったりと．．．<br/>
            みんなで一緒にこそだてを楽しんでいければなーと思って立ち上げあたサイトです♪<br/>
            <br/>
            ●新規登録・ログインボタンを持ったくまさんがかくれんぼをして遊んでます。みつけてね●</p>
            <%= image_tag 'about.png', class: 'about-img' %>
      </div>
    </div>
  </div>
  
  <!--新規登録mordal↓-->
    <div id="sign-modal" class="hidden m-modal">
        <i class="fal fa-window-close m-close"></i>
        <div class="sign-up">
        <p>新規登録</p>
        <div class="message">
          <%= image_tag 's-message.png', class: 's-message-img' %><br/>
          こそだてひろばへようこそ！<br/>
          少しでもこそだての協力ができるようにたくさんの情報を<br/>のせていきたいと思います
          色々な投稿もお待ちしております
        </div>
        <div class="form">
          <%= form_tag("/users/create", {multipart: true}) do %>
            <p>ニックネーム</p>
            <input name="name">
            <p>メールアドレス</p>
            <input name="email">
            <p>パスワード</p>
            <input type="password" name="password">
            <p>画像</p>
            <input type="file" name="image">
            <p>コメント</p>
            <textarea name="comment"></textarea>
            <div class="submit">
              <input type="submit" value="新規登録">
            </div>
          <% end %>
        </div>
        </div>
    </div>
    <div class="mask hidden"></div>
    
    <!--ログインmordal↓-->
    <div id="login-modal" class="hidden m-modal">
        <i class="fal fa-window-close m-close"></i>
        <% if @error_message %>
          <div class="form-error">
              <% @error_message %>
          </div>
        <% end %>
        <div class="login">
        <p>ログイン</p>
        <div class="message">
          <%= image_tag 'l-message.png', class: 's-message-img' %><br/>
          こそだてひろばへようこそ！<br/>
          楽しんでいってください！
          みんながあなたからの投稿を待っています<br/>
          みんなと共有したい情報があればぜひ投稿してね
        </div>
        <div class="form">
        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email">
          <p>パスワード</p>
          <input name="password">
          <div class="submit">
          <input type="submit" value="ログイン">
          </div>
        <% end %>
        </div>
    </div>
    </div>
    <div class="mask hidden"></div>
    
  <div id="fixed">
          <div id="open1">
            <%= image_tag 'signUp.png', class: 'signUp-img s-open' %>
            </div>
          <div id="open2"><%= image_tag 'login.png', class: 'login-img open' %></div>
    </div>
    
<!--ここからページ開始-->
<div class="wrapper">
  <div class="top-img">
    <canvas id="mycanvas">
      <!--<%= image_tag 'top.jpg', class: 'top-img' %>-->
    </canvas>
    </div>
    <div class="navi">
        <h4>[今日のこそだて格言]</h4>
        <p class="sentence"><%= @sentence[0] %></p>
        <%= image_tag 'navi.png', class: 'navi-img' %>
    </div>
   
    <div class="menu">
    <p>MENU</p>
     <ul class="menu-container">
            <li>
                <div class="menu-detail menu-hover">
                    <div class="text-contents">
                        
                        学習方法
                    </div>
                    <div class="menu-icon">
                      <%= image_tag 'menu/learning.png', class: 'menu-img' %>
                    </div>
                    <p>がくしゅう</p>
                </div>
            </li>
            <li>
                <div class="menu-detail menu-hover">
                    <div class="text-contents">
                        
                        健康情報
                    </div>
                    <div class="menu-icon">
                        <%= image_tag 'menu/health.png', class: 'menu-img' %>
                    </div>
                    <p>けんこう</p>
                </div>
            </li>
            <li>
              <div class="menu-detail menu-hover">
                  <div class="text-contents">
                      
                      クッキング
                  </div>
                  <div class="menu-icon">
                      <%= image_tag 'menu/cooking.png', class: 'menu-img' %>
                  </div>
                  <p>りょうり</p>
              </div>
            </li>
            <li>
              <div class="menu-detail menu-hover">
                  <div class="text-contents">
                      
                      お出かけ情報
                  </div>
                  <div class="menu-icon">
                        <%= image_tag 'menu/out.png', class: 'menu-img' %>
                  </div>
                  <p>おでかけ</p>
              </div>
            </li>
            <li>
              <div class="menu-detail menu-hover">
                  <div class="text-contents">
                    
                      暮らし情報
                  </div>
                  <div class="menu-icon">
                        <%= image_tag 'menu/life.png', class: 'menu-img' %>
                  </div>
                  <p>くらし</p>
              </div>
            </li>
            <li>
              <div class="menu-detail menu-hover">
                  <div class="text-contents">
                     
                      旅行情報
                  </div>
                  <div class="menu-icon">
                        <%= image_tag 'menu/trip.png', class: 'menu-img' %>
                  </div>
                  <p>りょこう</p>
              </div>
            </li>
            <li>
              <div class="menu-detail menu-hover">
                  <div class="text-contents">
                      
                      なんでもあり
                  </div>
                  <div class="menu-icon">
                        <%= image_tag 'menu/dad.png', class: 'menu-img' %>
                  </div>
                  <p>etc.</p>
              </div>
            </li>
          </ul>
    </div>
    <div class="clear"></div>

   <div class="links">
      <p>Pick Up</p>
      <div class="link">
          <% @posts.each do |post| %>
            <div class="pick-up">
                <div class="pick-img">
                    <% detail = PostDetail.find_by(post_id: post.id) %>
                    <% if detail.present? %>
                        <% if detail.image == "kids.jpg" %>
                          <img src="<%= "/post_images/#{detail.image}" %>">
                        <% else %>
                          <img src="<%= "/post_images/#{post.user_id}/#{detail.post_id}/#{detail.image}" %>">
                        <% end %>
                    <% end %>
                </div>
                <div class="post-title">
                  <%= link_to("/posts/#{post.id}") do %>
                    <span><%=post.title%></span>
                  <% end %>
                </div>
                <div class="post-create">
                  <span><%= post.created_at %></span>
                </div>
                <div class="clear"></div>
                <div class="info">
                  <%= image_tag 'info.png', class: 'info-img' %><span>+ more info</span>
                    <div class="more-info">
                      <%= post.main_content %><br/>
                      続きはログインお願いします
                    </div>
                </div>
                <!--<div class="clear"></div>-->
            </div>  
          <% end %>
        <div class="clear"></div>
        </div>
    </div>
</div>
<div class="top-footer"></div>
<script>
  $(function() {
     
    $('#open1').click(function() {
        $('#sign-modal').removeClass('hidden');
        $('.mask').removeClass('hidden');
    });
    
    $('#open2').click(function() {
        $('#login-modal').removeClass('hidden');
        $('.mask').removeClass('hidden');
    });
    
    $('.m-close').click(function() {
        $('#sign-modal').addClass('hidden');
        $('#login-modal').addClass('hidden');
        $('.mask').addClass('hidden');
    });
    
    $('.mask').click(function() {
        $('#sign-modal').addClass('hidden');
        $('#login-modal').addClass('hidden');
        $('.mask').addClass('hidden');
    });
    
    $('.open').hover(
        function() {
            $(this).css({'left':'0', 'bottom':'0'});
        },
        function() {
            $(this).css({'left':'-112px', 'bottom':'-100px'});
        }
    );
    
    $('.s-open').hover(
        function() {
            $(this).css({'right':'0', 'top':'0'});
        },
        function() {
            $(this).css({'right':'0', 'top':'-120px'});
        }
    );
    
    $('.menu-hover').hover(
        function() {
            $(this).find('.text-contents').addClass('text-active');
        },
        function() {
            $(this).find('.text-contents').removeClass('text-active');
        }
    );
    
    $('.info').click(function() {
      var $more = $(this).find('.more-info');
      if($more.hasClass('open')) {
        $more.removeClass('open');
        $more.slideUp();
        $(this).find('span').text('+ more info');
      }else {
        $more.addClass('open');
        $more.slideDown();
        $(this).find('span').text('- close');
      }
      });
      
 
 
 var canvas;
    var ctx;
    var Ball;
    var balls = [];
    var Stage;
    var stage;
    
//     canvas.setBackgroundImage("top.jpg", canvas.renderAll.bind(canvas), {
//     backgroundImageOpacity: 0.5,
//     backgroundImageStretch: false
// });

    canvas = document.getElementById('mycanvas');
    if (!canvas || !canvas.getContext) return false;
    ctx = canvas.getContext('2d');

    function rand(min, max) {
      // 0-n
      // Math.floor(Math.random() * (n + 1))
      // min-max
      return min + Math.floor(Math.random() * (max - min + 1));
    }

    function adjustPosition(pos, r, max) {
      // if (x - r < 0) x = r;
      // if (y - r < 0) y = r;
      // if (x + r > canvas.width) x = canvas.width - r;
      // if (y + r > canvas.height) y = canvas.height - r;
      if (pos - r < 0) {
        return r;
      } else if (pos + r > max) {
        return max - r;
      } else {
        return pos;
      }
    }

    canvas.addEventListener('click', function(e) {
      var x, y, r;
      var rect;
      // x = rand(100, 400);
      // y = rand(100, 200);
      rect = e.target.getBoundingClientRect();
      x = e.clientX - rect.left;
      y = e.clientY - rect.top;
      r = rand(0, 100) < 20 ? rand(50, 80) : rand(10, 35);

      x = adjustPosition(x, r, canvas.width);
      y = adjustPosition(y, r, canvas.height);
      balls.push(new Ball(x, y, r));
    });

 
 Ball = function(x, y, r) {
      this.x = x;
      this.y = y;
      this.r = r;
      this.vx = rand(-10, 10);
      this.vy = rand(-10, 10);
      this.color = 'hsla(' + rand(50, 100) + ', ' + rand(40, 80) + '%, ' + rand(50, 60) + '%, ' + Math.random() + ')';
    };

    Ball.prototype.draw = function() {
      ctx.beginPath();
      ctx.arc(this.x, this.y, this.r, 0, Math.PI*2);
      ctx.fillStyle = this.color;
      ctx.closePath();
      ctx.fill();
    };

    Ball.prototype.move = function() {
      if (this.x + this.r > canvas.width || this.x - this.r < 0) {
        this.vx *= -1;
      }
      if (this.y + this.r > canvas.height || this.y - this.r < 0) {
        this.vy *= -1;
      }
      this.x += this.vx;
      this.y += this.vy;
    };

    // var ball = new Ball(rand(100, 200), rand(100, 200), rand(10, 50));
    // ball.draw();

    Stage = function() {
      this.update = function() {
        var i;
        this.clear();
        for (i = 0; i < balls.length; i++) {
          balls[i].draw();
          balls[i].move();
        }
        setTimeout(function() {
          this.update(); // Stage.update()
        }.bind(this), 30);
      };
      this.clear = function() {
        ctx.fillStyle = '#ecf0f1';
        // ctx.fillRect(0, 0, canvas.width, canvas.height);
      }
    };

    stage = new Stage();
    stage.update();
});
</script>
