<%= debug(params) if Rails.env.development? %>
<%= image_tag 'posts-line.png', class: 'posts-line-img' %>
<div class="post-wrapper">
    <div class="contain">
        <p class="title">投稿編集</p>
            <div class="post-new">
            <% if @post.errors.any? %>
                <% @post.errors.full_messages.each do |message| %>
                <%= message %>
                <% end %>
            <% end %>  
            <%= nested_form_for @post do |f| %>
                <p>カテゴリー</p>
                <%= f.select :category, ["がくしゅう", "けんこう", "りょうり", "おでかけ", "くらし", "りょこう","etc."], :prompt => "選択してください", :class => 'category', :selected => @post.category %>
                <div class="edit-main">
                    <span>○タイトル :</span>
                    <%= f.text_field :title, autofocus: 'true', class: 'edit-title', required: true %>
                    <span>投稿内容まとめ</span>
                    <%= f.text_field :main_content, autofocus: 'true', class: 'main', required: true %>
                </div>
                <span>○投稿詳細 :</span>
                <%= f.fields_for :post_details do |m|  %>
                            <div class="post_left">
                                <label for="file_photo" class="add-photo">
                                    <%= image_tag 'camera.png', class: 'logo' %>
                                    <!--<input name="image" type="file" class="file_photo" style="display:none;">-->
                                    <%= m.file_field :image, type:'file', autofocus: 'true', class: 'photo', required: true %>
                                </label>
                            </div>
                        
                            <%= m.text_field :content , class: 'form-content comment', required: true %>
                        
                        <%= m.link_to_remove 'Delete' %>
                <% end %>
                <%= f.link_to_add '追加', :post_details %>
                <div class="clear"></div>
                <%= f.submit '編集', class: 'btn btn-primary' %>
            <% end %>
            </div>
    </div>
</div>   
    <%= render 'shared/footer' %>    
