<%= image_tag 'line6.png', class: 'cooking-line-img' %>
<div class="post-wrapper">
  <div class="contain">
    <!--sample-->
    <div class="sample">
        <%= image_tag 'pen2.png', class: 'pen-img' %>
        <p class="sample-title">Sample</p>
        
        <div class="clear"></div>
        <div class="index">
          <div class="post-image">
            <%= image_tag 'index-sample.png', class: 'index-sample-img' %>
            <div class="image-comment">投稿写真</div>
          </div> 
          <div class="post-main">
            <div class="post-content">
              <h3>タイトル</h3>
              <p>投稿内容のまとめ</p>
            </div>
            <div class="user">
              <%= image_tag 'sample-user.png', class: 'sample-user-img' %><span> 投稿者</span>
            </div>
            <div class="category">
              <span>カテゴリー</span>
            </div>
            <div class="smile">
              <div class="like"></div>
            </div>
          </div>
        </div>
        <div class="sample-comment">
          <p>クリックしてお気に入りに<br/>登録するとピンクになるよ︎</p>
          <p>数字はお気に入りのかずだよ →</p>
        </div>
    </div>
    <!--↑-->
    <p class="title">投稿一覧</p>
    <% @posts.each do |post| %>
        <!--<% detail = PostDetail.find_by(post_id: post.id) %>-->
        <% detail = PostDetail.where(post_id: post.id).order(created_at: :asc).first %>
        <div class="index">
        <div class="post-image">
          <% if detail.present? %>
            <% if detail.image == "kids.jpg" %>
              <img src="<%= "/post_images/#{detail.image}" %>">
            <% else %>
              <img src="<%= "/post_images/#{post.user_id}/#{detail.post_id}/#{detail.image}" %>">
            <% end %>
          <% end %>
        </div> 
        <div class="post-main">
          <div class="post-content">
            <h3><%= link_to(post.title, "/posts/#{post.id}") %> </h3>
            <p><%= post.main_content %></p>
          </div>
          <% user = User.find_by(id: post.user_id) %>
          <div class="user">
            <img src="<%= "/user_images/#{user.image}" %>">
            <span><%= user.user_name %>さん</span>
          </div>
          <div class="category">
            <!--<%= post.category %> -->
              <% if post.category == "1" %>
                  <span>がくしゅう</span>
              <% elsif post.category == "2" %>
                  <span>けんこう</span>
              <% elsif post.category == "3" %>
                  <span>りょうり</span>
              <% elsif post.category == "4" %>
                  <span>おでかけ</span>
              <% elsif post.category == "5" %>
                  <span>くらし</span>
              <% elsif post.category == "6" %>
                  <span>りょこう</span>
              <% elsif post.category == "7" %>
                  <span>etc.</span>
              <% end %>
          </div>
          <div class="smile">
            <% if Like.find_by(post_id: post.id,user_id: @current_user.id) %>
            <% @likes_count = Like.where(post_id: post.id).count %>
              <%= link_to("/likes/#{post.id}/destroy", {method: "post"}) do %>
                <div class="like"><p><%= @likes_count %></p></div>
              <% end %>
            <% else %>
            <% @likes_count = Like.where(post_id: post.id).count %>
              <%= link_to("/likes/#{post.id}/create", {method: "post"}) do %>
                <div class="unlike"><p><%= @likes_count %></p></div>
              <% end %>
            <% end %>
          </div>
  
        </div>
      </div>
      <div class="clear"></div>
    <% end %>
  </div>
</div>
<%= render 'shared/to-post' %>
<%= render 'shared/footer' %>