<%= debug(params) if Rails.env.development? %>
<%= image_tag 'posts-line.png', class: 'posts-line-img' %>
<div class="post-wrapper">
    <div class="contain">
        <p class="title">投稿作成</p>
        <div class="post-new">
            
            
            <%= form_for @post, url: posts_create_path do |f| %>
            <p>カテゴリー</p>
            <%= f.select :category, ["がくしゅう", "けんこう", "りょうり", "おでかけ", "くらし", "りょこう","etc."], :prompt => "選択してください", :class => 'category' %>
            <div class="edit-main">
            <span>○タイトル :</span>
            <%= f.text_area :title, autofocus: 'true', class: 'edit-title', required: true %>
            <span>投稿内容まとめ</span>
            <%= f.text_area :main_content, autofocus: 'true', class: 'main', required: true %>
             </div>
             <div id="team_members_box">
             <span>○投稿詳細 :</span>
            <%= f.fields_for :post_details do |m|  %>
            <div class="js-post_detail" id="add_detail_#{m.index}">
                <div class="post_left">
                    <label for="file_photo" class="add-photo">
                        <%= image_tag 'camera.png', class: 'logo' %>
                        <!--<input name="image" type="file" class="file_photo" style="display:none;">-->
                        <%= m.file_field :image, type:'file', autofocus: 'true', class: 'photo', required: true %>
                    </label>
                </div>
            <%= m.text_field :content , class: 'form-content comment', required: true %>
            <!--<%= m.check_box:_destroy %>-->
            <span class="detail_delete{ data: { id: m.index, default: 'default' } }"><span class="fas fa-trash-alt edit-hover"></span></span>
            </div>
            </div>
            <p id="add_item_button"><span class="fas fa-plus-square"></span></p>
    <div class="clear"></div>
            
              
      <%= f.submit '投稿', class: 'btn btn-primary' %>
      <% end %>
      <% end %>
          </div>
    </div>
</div>   
    <%= render 'shared/footer' %>
    
<script>

$(function() {
  var detail_num = $('.js-post_detail').length;
  $('#add_item_button').on('click', function() {
    var input =
        '<div class="js-post_detail" id="add_detail_' + detail_num + '">'
        + '<input class="post_left"  type="file" name="image[post_details_attributes][' + detail_num + '][name]"  required>'
        + '<input class="form-content comment" type="text" name="content[post_detail_attributes][' + detail_num + ']"  required>'
        + '<span class="detail_delete" data-id="' + detail_num + '">'
        +   '<span class="fas fa-trash-alt edit-hover"></span>'
        + '</span>'
        +'</div>'
    $('#team_members_box').append(input);
    detail_num ++;
  });

  $('#team_members_box').on('click', '.detail_delete', function() {
    var inputId = $(this).data('id');
    var defaultData = $(this).data('default');
    if (defaultData == 'default') {
      $(this).prev().prop('checked', true);
      $('#add_detail_' + inputId).hide();
    }else{
      $('#add_detail_' + inputId).remove();
    }
  });
});           
 </script>           
             <!--<%= form_tag("/posts/create", {multipart: true}) do %>-->
            <!-- <span>○カテゴリー :</span><br/>-->
            <!--    <select name="category">-->
            <!--        <option value="1">がくしゅう</option>-->
            <!--        <option value="2">けんこう</option>-->
            <!--        <option value="3">りょうり</option>-->
            <!--        <option value="4">おでかけ</option>-->
            <!--        <option value="5">くらし</option>-->
            <!--        <option value="6">りょこう</option>-->
            <!--        <option value="7">etc.</option>-->
            <!--    </select>-->
            <!--    <div class="edit-main"> -->
            <!--    <span>○タイトル :</span>-->
            <!--        <textarea class="edit-title" name="title"></textarea>-->
            <!--    </br>-->
            <!--    <span>○投稿内容まとめ :</span>-->
            <!--        <textarea class="main" name="main"></textarea>-->
            <!--    </div>-->
            <!--    <span>○投稿詳細 :</span>-->
                <!--ここからクローン-->
            <!--    <ul id="parent">-->
            <!--        <li id="field">-->
            <!--            <div class="post">-->
            <!--                <div class="post_left">-->
            <!--                    <label for="file_photo">-->
            <!--                        <%= image_tag 'camera.png', class: 'logo' %>-->
            <!--                        <input name="image-0" type="file" id="file_photo" style="display:none;">-->
            <!--                    </label>-->
            <!--                </div>-->
            <!--                <textarea class="comment" name="content-0"></textarea>-->
            <!--                <div class="clear"></div>-->
                            
            <!--            </div>-->
            <!--            <div class="clear"></div>-->
            <!--        </li>-->
            <!--    </ul>-->
                <!--ここまで-->
            <!--    <div class="btn">-->
            <!--        <button type="button" id="add" value="" name="">-->
            <!--            <span class="fas fa-plus-square"></span>-->
            <!--        </button>-->
            <!--    </div>-->
            <!--    <div class="clear"></div>-->
            <!--    <div class="submit">-->
            <!--        <input type="submit" value="投稿">-->
            <!--    </div>-->
            <!--    <div class="clear"></div>-->
            <!--<% end %>  -->
   
   



<!--//   $(function() {-->
      
<!--//       $('#add').click(function() {-->
<!--//           $('#field').clone().appendTo($('#parent'));-->
<!--//       } );-->
<!--//       $('#parent').on('click', '#trash', function() {-->
<!--//           $(this).parents('#field').remove();-->
<!--//       } );-->
<!--//   });-->


<!--// var cnt = 0;-->
<!--//   $(function() {-->


<!--//       $('#add').click(function() {-->

<!--//           cnt += 1;-->
<!--//         //   alert(cnt);-->
<!--//           $('#field').clone().appendTo($('#parent'));-->
<!--//           $('#field input').eq(cnt).attr('name', "image-"+cnt);-->
<!--//           $('#field textarea').eq(cnt).attr('name', "content-"+cnt);-->
<!--//           $('<input />', {-->
<!--//               'type': 'button',-->
<!--//               'name': '',-->
<!--//               'value':'削除',-->
<!--//               'id':'trash'-->
<!--//           }).appendTo('#parent').trigger("create");-->

<!--//       } );-->

<!--//         $('#trash').click (function() {-->
<!--//           $('#field').remove();-->
<!--//       } );-->
<!--    //   $('#parent').on('click', '#trash', function() {-->
<!--    //       $(this).parents('#field').remove();-->
<!--    //   } );-->
<!--//  });-->
