<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    
    <meta name="width=device-width,initial-scale=1">
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <header>
      <%= image_tag 'header1.png', class: 'header-img' %>
      <span class="header"> こそだて</span>
      <span class="sub-header">ひろば </span>
      <%= image_tag 'header1.png', class: 'header-img' %>
      <% if @current_user %>
          <div id="header">
              <div class="top-post top-open">
                <p><%= link_to("投稿する", "/posts/new") %></p>
              </div>
              <div class="top-logout top-open">
                 <p><%= link_to("Logout", "/logout", {method: :post}) %></p>
              </div>
              <div class="top-mypage top-open">
                <p><%= link_to("My Page", "/users/#{@current_user.id}") %></p>
              </div>
          </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
    </footer>
    <script>
      $(function() {
        'use strict';
        
        
    $('.top-open').hover(
        function() {
            $(this).css({'right':'20px'});
        },
        function() {
            $(this).css({'right':'5px'});
        }
    );
      });
    </script>
  </body>
</html>
